![Data Dunkers Banner](https://github.com/Data-Dunkers/lessons/blob/main/images/top-banner.jpg?raw=true)

<a href="https://hub.callysto.ca/jupyter/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2Fdata-dunkers%2Flessons&branch=main&subPath=data-sorting.ipynb&depth=1" target="_parent"><img src="https://raw.githubusercontent.com/Data-Dunkers/lessons/main/images/open-in-callysto-button.svg?sanitize=true" width="123" height="24" alt="Open in Callysto"/></a>
<a href="https://colab.research.google.com/github/data-dunkers/lessons/blob/main/data-sorting.ipynb" target="_parent"><img src="https://raw.githubusercontent.com/Data-Dunkers/lessons/main/images/open-in-colab-button.svg?sanitize=true" width="123" height="24" alt="Open in Colab"/></a>

# Data Dunkers Leçon : Tri des données

Le cahier d'activités correspondant à ce cahier de leçons est disponible [ici] (https://github.com/Data-Dunkers/activities/blob/main/data-sorting.ipynb).

## Objectifs

À la fin de cette leçon, les élèves seront capables de :
- Trier les données d'un DataFrame en fonction de colonnes spécifiques.
    - Exemple : Trier les statistiques de Pascal Siakam en fonction du nombre de points marqués afin d'identifier les saisons où il a marqué le plus de points.
- Comprendre l'impact du tri des données par ordre croissant ou décroissant.
    - Exemple : Trier les pourcentages de buts marqués par ordre décroissant pour mettre en évidence les meilleures performances de tir en premier.
- Appliquer plusieurs critères de tri pour organiser les données plus efficacement.
    - Exemple : Trier l'ensemble de données en fonction du pourcentage de buts marqués sur le terrain.

## Importation / Entrée

In [11]:
import pandas as pd

# URL of the CSV file containing data for Pascal Siakam
url = 'https://raw.githubusercontent.com/pbeens/Data-Dunkers/main/Data/Pascal_Siakam.csv'

# Read the CSV file into a pandas DataFrame
df = pd.read_csv(url)

# Display the DataFrame
display(df)

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,REB,AST,STL,BLK,TOV,PF,PTS,FG2M,FG2A,FG2_PCT
0,1627783,2016-17,0,1610612761,TOR,23.0,55,38,859.0,103,...,185,17,26,45,33,109,229,102,198,0.515
1,1627783,2017-18,0,1610612761,TOR,24.0,81,5,1679.0,253,...,364,159,62,42,67,166,589,224,366,0.612
2,1627783,2018-19,0,1610612761,TOR,25.0,80,79,2548.0,519,...,549,248,73,52,154,241,1354,440,731,0.602
3,1627783,2019-20,0,1610612761,TOR,26.0,60,60,2110.0,500,...,439,207,61,53,148,170,1371,369,739,0.499
4,1627783,2020-21,0,1610612761,TOR,27.0,56,56,2006.0,437,...,405,250,64,37,130,174,1196,364,715,0.509
5,1627783,2021-22,0,1610612761,TOR,28.0,68,68,2578.0,596,...,580,360,85,42,181,225,1551,521,989,0.527
6,1627783,2022-23,0,1610612761,TOR,29.0,71,71,2652.0,630,...,556,415,65,36,169,228,1720,537,1026,0.523
7,1627783,2023-24,0,1610612761,TOR,29.0,39,39,1354.0,325,...,246,190,32,10,83,87,865,279,478,0.584
8,1627783,2023-24,0,1610612754,IND,29.0,24,24,786.0,203,...,168,102,17,8,34,62,494,175,297,0.589
9,1627783,2023-24,0,0,TOT,29.0,63,63,2140.0,528,...,414,292,49,18,117,149,1359,454,775,0.586

Vous pouvez consulter le fichier CSV brut [ici] (https://raw.githubusercontent.com/Data-Dunkers/data/main/NBA/Pascal_Siakam.csv).

Pour rappel, voici nos colonnes :

| Nom du champ - Définition - Nom du champ - Définition - Nom du champ - Définition - Nom du champ - Définition - Nom du champ - Définition - Nom du champ - Définition - Définition
|---|---|---|---|
| AST - Le nombre total de passes décisives effectuées par le joueur. | FTM | Le nombre total de lancers francs effectués par le joueur. |
| BLK - Le nombre total de tirs adverses qu'un joueur a dévié ou empêché. | GP | Le nombre de matchs dans lesquels le joueur est apparu. |
| DREB - Le nombre total de rebonds qu'un joueur a pris sur le plan défensif. | GS - Le nombre de matchs où le joueur était dans l'équipe de départ. |
| FG_PCT | Pourcentage de tentatives de tir réussies. | MIN - Le nombre total de minutes jouées par le joueur. |
| FG2_PCT | Pourcentage de tentatives de tir à deux points réussies. | OREB | Le nombre total de rebonds qu'un joueur a pris du côté offensif. |
| FG2A | Nombre total de tentatives de tir à deux points effectuées par le joueur. | PF | Le nombre total de fautes personnelles commises par le joueur. |
| FG2M | Le nombre total de buts à deux points marqués par un joueur. | PLAYER_AGE | L'âge du joueur. |
| FG3_PCT | Pourcentage de tentatives de tirs à trois points réussies. | PTS | Le nombre total de points marqués par un joueur. |
| FG3A | Nombre total de tentatives de tirs à trois points effectuées par le joueur. | REB - Le nombre total de rebonds (offensifs + défensifs) qu'un joueur a pris. |
| FG3M - Le nombre total de buts à trois points marqués par un joueur. | SEASON_ID | L'identifiant de la saison de basketball. |
| FGA | Le nombre total de tentatives de tir au but par le joueur. | STL | Le nombre total de fois où un joueur a réussi à prendre le ballon à un adversaire. |
| FGM | Le nombre total de buts marqués par un joueur. | Le nombre total de fois où un joueur a réussi à prendre le ballon à l'adversaire. |
| FT_PCT | Le pourcentage de tentatives de lancers francs réussies. | TEAM_ID | Un identifiant unique pour l'équipe. |
| FTA | Le nombre total de tentatives de lancers francs par le joueur. | TOV | Nombre total de fois où le joueur a perdu la possession du ballon. |

## Abandon d'une ligne par numéro d'index

Vous remarquez qu'il reste cette dernière ligne, qui contient "TOT" pour l'abréviation de l'équipe ? Supprimons cette ligne (ligne 9).

In [12]:
display(df.drop(9))

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,REB,AST,STL,BLK,TOV,PF,PTS,FG2M,FG2A,FG2_PCT
0,1627783,2016-17,0,1610612761,TOR,23.0,55,38,859.0,103,...,185,17,26,45,33,109,229,102,198,0.515
1,1627783,2017-18,0,1610612761,TOR,24.0,81,5,1679.0,253,...,364,159,62,42,67,166,589,224,366,0.612
2,1627783,2018-19,0,1610612761,TOR,25.0,80,79,2548.0,519,...,549,248,73,52,154,241,1354,440,731,0.602
3,1627783,2019-20,0,1610612761,TOR,26.0,60,60,2110.0,500,...,439,207,61,53,148,170,1371,369,739,0.499
4,1627783,2020-21,0,1610612761,TOR,27.0,56,56,2006.0,437,...,405,250,64,37,130,174,1196,364,715,0.509
5,1627783,2021-22,0,1610612761,TOR,28.0,68,68,2578.0,596,...,580,360,85,42,181,225,1551,521,989,0.527
6,1627783,2022-23,0,1610612761,TOR,29.0,71,71,2652.0,630,...,556,415,65,36,169,228,1720,537,1026,0.523
7,1627783,2023-24,0,1610612761,TOR,29.0,39,39,1354.0,325,...,246,190,32,10,83,87,865,279,478,0.584
8,1627783,2023-24,0,1610612754,IND,29.0,24,24,786.0,203,...,168,102,17,8,34,62,494,175,297,0.589

Que se passe-t-il si nous remplaçons le "9" par un autre chiffre ? Essayez-le !

Affichons à nouveau le cadre de données pour voir si le changement est permanent.

In [13]:
display(df)

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,REB,AST,STL,BLK,TOV,PF,PTS,FG2M,FG2A,FG2_PCT
0,1627783,2016-17,0,1610612761,TOR,23.0,55,38,859.0,103,...,185,17,26,45,33,109,229,102,198,0.515
1,1627783,2017-18,0,1610612761,TOR,24.0,81,5,1679.0,253,...,364,159,62,42,67,166,589,224,366,0.612
2,1627783,2018-19,0,1610612761,TOR,25.0,80,79,2548.0,519,...,549,248,73,52,154,241,1354,440,731,0.602
3,1627783,2019-20,0,1610612761,TOR,26.0,60,60,2110.0,500,...,439,207,61,53,148,170,1371,369,739,0.499
4,1627783,2020-21,0,1610612761,TOR,27.0,56,56,2006.0,437,...,405,250,64,37,130,174,1196,364,715,0.509
5,1627783,2021-22,0,1610612761,TOR,28.0,68,68,2578.0,596,...,580,360,85,42,181,225,1551,521,989,0.527
6,1627783,2022-23,0,1610612761,TOR,29.0,71,71,2652.0,630,...,556,415,65,36,169,228,1720,537,1026,0.523
7,1627783,2023-24,0,1610612761,TOR,29.0,39,39,1354.0,325,...,246,190,32,10,83,87,865,279,478,0.584
8,1627783,2023-24,0,1610612754,IND,29.0,24,24,786.0,203,...,168,102,17,8,34,62,494,175,297,0.589
9,1627783,2023-24,0,0,TOT,29.0,63,63,2140.0,528,...,414,292,49,18,117,149,1359,454,775,0.586

Ce n'est pas le cas. La ligne "Carrières" est toujours là.

Nous pouvons la rendre permanente en la réaffectant à la variable DataFrame.

In [14]:
df = df.drop(9)

display(df)

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,REB,AST,STL,BLK,TOV,PF,PTS,FG2M,FG2A,FG2_PCT
0,1627783,2016-17,0,1610612761,TOR,23.0,55,38,859.0,103,...,185,17,26,45,33,109,229,102,198,0.515
1,1627783,2017-18,0,1610612761,TOR,24.0,81,5,1679.0,253,...,364,159,62,42,67,166,589,224,366,0.612
2,1627783,2018-19,0,1610612761,TOR,25.0,80,79,2548.0,519,...,549,248,73,52,154,241,1354,440,731,0.602
3,1627783,2019-20,0,1610612761,TOR,26.0,60,60,2110.0,500,...,439,207,61,53,148,170,1371,369,739,0.499
4,1627783,2020-21,0,1610612761,TOR,27.0,56,56,2006.0,437,...,405,250,64,37,130,174,1196,364,715,0.509
5,1627783,2021-22,0,1610612761,TOR,28.0,68,68,2578.0,596,...,580,360,85,42,181,225,1551,521,989,0.527
6,1627783,2022-23,0,1610612761,TOR,29.0,71,71,2652.0,630,...,556,415,65,36,169,228,1720,537,1026,0.523
7,1627783,2023-24,0,1610612761,TOR,29.0,39,39,1354.0,325,...,246,190,32,10,83,87,865,279,478,0.584
8,1627783,2023-24,0,1610612754,IND,29.0,24,24,786.0,203,...,168,102,17,8,34,62,494,175,297,0.589

## Tri

Que se passe-t-il si nous voulons trier les données par vol (STL) ?

In [15]:
display(df.sort_values('STL'))

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,REB,AST,STL,BLK,TOV,PF,PTS,FG2M,FG2A,FG2_PCT
8,1627783,2023-24,0,1610612754,IND,29.0,24,24,786.0,203,...,168,102,17,8,34,62,494,175,297,0.589
0,1627783,2016-17,0,1610612761,TOR,23.0,55,38,859.0,103,...,185,17,26,45,33,109,229,102,198,0.515
7,1627783,2023-24,0,1610612761,TOR,29.0,39,39,1354.0,325,...,246,190,32,10,83,87,865,279,478,0.584
3,1627783,2019-20,0,1610612761,TOR,26.0,60,60,2110.0,500,...,439,207,61,53,148,170,1371,369,739,0.499
1,1627783,2017-18,0,1610612761,TOR,24.0,81,5,1679.0,253,...,364,159,62,42,67,166,589,224,366,0.612
4,1627783,2020-21,0,1610612761,TOR,27.0,56,56,2006.0,437,...,405,250,64,37,130,174,1196,364,715,0.509
6,1627783,2022-23,0,1610612761,TOR,29.0,71,71,2652.0,630,...,556,415,65,36,169,228,1720,537,1026,0.523
2,1627783,2018-19,0,1610612761,TOR,25.0,80,79,2548.0,519,...,549,248,73,52,154,241,1354,440,731,0.602
5,1627783,2021-22,0,1610612761,TOR,28.0,68,68,2578.0,596,...,580,360,85,42,181,225,1551,521,989,0.527

Et si nous voulions qu'ils soient décroissants au lieu d'être croissants ? Ajoutez simplement `ascending=False` aux arguments de `sort_values()`. (La valeur par défaut, si vous ne lui dites pas autre chose, est `ascending=True`)

In [16]:
display(df.sort_values('STL', ascending=False))

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,REB,AST,STL,BLK,TOV,PF,PTS,FG2M,FG2A,FG2_PCT
5,1627783,2021-22,0,1610612761,TOR,28.0,68,68,2578.0,596,...,580,360,85,42,181,225,1551,521,989,0.527
2,1627783,2018-19,0,1610612761,TOR,25.0,80,79,2548.0,519,...,549,248,73,52,154,241,1354,440,731,0.602
6,1627783,2022-23,0,1610612761,TOR,29.0,71,71,2652.0,630,...,556,415,65,36,169,228,1720,537,1026,0.523
4,1627783,2020-21,0,1610612761,TOR,27.0,56,56,2006.0,437,...,405,250,64,37,130,174,1196,364,715,0.509
1,1627783,2017-18,0,1610612761,TOR,24.0,81,5,1679.0,253,...,364,159,62,42,67,166,589,224,366,0.612
3,1627783,2019-20,0,1610612761,TOR,26.0,60,60,2110.0,500,...,439,207,61,53,148,170,1371,369,739,0.499
7,1627783,2023-24,0,1610612761,TOR,29.0,39,39,1354.0,325,...,246,190,32,10,83,87,865,279,478,0.584
0,1627783,2016-17,0,1610612761,TOR,23.0,55,38,859.0,103,...,185,17,26,45,33,109,229,102,198,0.515
8,1627783,2023-24,0,1610612754,IND,29.0,24,24,786.0,203,...,168,102,17,8,34,62,494,175,297,0.589

Réduisons les colonnes que nous regardons et sauvegardons-les dans un nouveau dataframe nommé `df2`.

Si nous devions continuer à travailler avec ces seules colonnes, nous travaillerions alors avec `df2` à partir de maintenant.

In [17]:
columns = ['SEASON_ID', 'TEAM_ABBREVIATION', 'GP', 'GS', 'BLK', 'STL', 'MIN', 'FGM', 'FGA']
df_2 = df[columns]
display(df_2)

  SEASON_ID TEAM_ABBREVIATION  GP  GS  BLK  STL     MIN  FGM   FGA
0   2016-17               TOR  55  38   45   26   859.0  103   205
1   2017-18               TOR  81   5   42   62  1679.0  253   498
2   2018-19               TOR  80  79   52   73  2548.0  519   945
3   2019-20               TOR  60  60   53   61  2110.0  500  1104
4   2020-21               TOR  56  56   37   64  2006.0  437   961
5   2021-22               TOR  68  68   42   85  2578.0  596  1207
6   2022-23               TOR  71  71   36   65  2652.0  630  1313
7   2023-24               TOR  39  39   10   32  1354.0  325   623
8   2023-24               IND  24  24    8   17   786.0  203   370

Nous travaillerons désormais avec `df2`.

Trions maintenant sur deux colonnes, par exemple d'abord sur les Blocs par match (BLK) et ensuite sur les Volées par match (STL). Notez que nous devons mettre les noms des colonnes dans une liste (`[ ]`).

In [18]:
display(df_2.sort_values(['BLK', 'STL']))

  SEASON_ID TEAM_ABBREVIATION  GP  GS  BLK  STL     MIN  FGM   FGA
8   2023-24               IND  24  24    8   17   786.0  203   370
7   2023-24               TOR  39  39   10   32  1354.0  325   623
6   2022-23               TOR  71  71   36   65  2652.0  630  1313
4   2020-21               TOR  56  56   37   64  2006.0  437   961
1   2017-18               TOR  81   5   42   62  1679.0  253   498
5   2021-22               TOR  68  68   42   85  2578.0  596  1207
0   2016-17               TOR  55  38   45   26   859.0  103   205
2   2018-19               TOR  80  79   52   73  2548.0  519   945
3   2019-20               TOR  60  60   53   61  2110.0  500  1104

Pouvez-vous confirmer que le tri s'est effectué correctement ?

## Exercice

Ajoutez du code à la cellule ci-dessous pour sélectionner les colonnes 'SEASON_ID', 'FG_PCT_', 'FG2_PCT' et 'FG3_PCT'. Affichez les données triées par 'FG_PCT'.

In [19]:
import pandas as pd

url = 'https://raw.githubusercontent.com/Data-Dunkers/data/main/NBA/Pascal_Siakam.csv'

df = pd.read_csv(url)

# Add your code here

## Extra Challenge

Créez ce graphique en utilisant la cellule de code ci-dessous. Vous pouvez consulter la leçon sur les graphiques à barres [ici] (https://github.com/Data-Dunkers/lessons/blob/main/graphing-bar-graphs.ipynb).

![raptors-2023-top-5-points.png](https://raw.githubusercontent.com/Data-Dunkers/activities/main/images/raptors-2023-top-5-points.png)

In [21]:
import pandas as pd
import plotly_express as px

url = 'https://raw.githubusercontent.com/Data-Dunkers/data/main/NBA/raptors-2023.csv'

# put the rest of the code here!

---
Retour à [Leçons] (https://github.com/Data-Dunkers/lessons/blob/main/lessons.ipynb)

---